* {
  color: rgb(31, 31, 31);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  text-align: center;
  background-color: #ff8787;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5% 10px 10px;
  background-color: #2d3142;
  width: 100%;
  margin: 0;
}

h1 {
  font-family: "Lilita One", cursive;
  color: #fffcf2;
  text-align: center;
  flex: 1;
}

.caixaPesquisa {
  margin: 0;
  background-color: #4f5d75;
  padding: 5px 10px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  width: fit-content;
}

@media (max-width: 600px) {
  header {
    justify-content: center;
    position: relative;
    min-height: 80px;
  }

  .espacador-vazio {
    display: none;
  }

  #logoSite {
    position: absolute;
    z-index: 2;
    margin: 0;
    background-color: #4f5d75;
    padding: 5px 10px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    width: fit-content;
  }

  .caixaPesquisa {
    position: absolute;
    width: 90% !important;
    opacity: 0;
    display: none;
    z-index: 1;
  }

  .fade-out {
    opacity: 0 !important;
    transform: translateY(-15px);
    pointer-events: none;
  }

  .fade-in {
    display: flex !important;
    opacity: 1 !important;
    transform: translateY(0) !important;
  }
}

.lupa {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.textoPesquisa {
  outline: 0;
  border: 0;
  padding: 0 0 0 10px;
  font-size: 16px;
  width: 200px;
  display: block;
  margin: 0%;
  color: #ffffff;
  background-color: #4f5d75;
}

.btnPesquisa {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 5px;
}

form {
  margin-top: 15px;
  padding: 10px;
}

input {
  margin: 10px 0;
  width: 100%;
  max-width: 300px;
  padding: 10px;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
}

button {
  padding: 10px 20px;
  margin: 5px;
  border: none;
  border-radius: 8px;
  background-color: #e9ecef;
  cursor: pointer;
  transition: background 0.3s;
}

button:hover {
  background-color: #dee2e6;
}

.cardsContainer {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 90%;
  max-width: 600px;
  margin-top: 20px;
}

.card {
  border-radius: 12px;
  padding: 15px;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border: 1px solid #121212;
}

#mensagem {
  color: #131313;
  margin-top: 15px;
  font-weight: bold;
}
