* {
  color: rgb(31, 31, 31);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;
  text-align: center;
  background-color: #ff8787;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  display: block;
  padding: 20px;
  background-color: #ffc9c9;
  border-radius: 15px;
  text-align: center;
  margin: 20px auto;
  width: 90%;
  max-width: 600px;
}

h1 {
  font-size: 30px;
  font-family: "Lilita One", cursive;
  margin-bottom: 15px;
}

.caixaPesquisa {
  margin: 10px auto;
  background-color: #f4acb7;
  padding: 5px 15px;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  transition: all 0.4s ease-in-out;
}

.lupa {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.textoPesquisa {
  background: none;
  outline: 0;
  border: 0;
  padding: 0;
  font-size: 16px;
  width: 0;
  transition:
    width 0.4s ease-in-out,
    padding 0.4s;
}

.caixaPesquisa:hover .textoPesquisa,
.caixaPesquisa:focus-within .textoPesquisa {
  width: 200px;
  padding: 0 10px;
}

@media (max-width: 400px) {
  .caixaPesquisa:hover .textoPesquisa {
    width: 140px;
  }
}

.btnPesquisa {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 5px;
}

form {
  margin-top: 15px;
  padding: 10px;
}

input {
  margin: 10px 0;
  width: 100%;
  max-width: 300px;
  padding: 10px;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
}

button {
  padding: 10px 20px;
  margin: 5px;
  border: none;
  border-radius: 8px;
  background-color: #e9ecef;
  cursor: pointer;
  transition: background 0.3s;
}

button:hover {
  background-color: #dee2e6;
}

.cardsContainer {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 90%;
  max-width: 600px;
  margin-top: 20px;
}

.card {
  border-radius: 12px;
  padding: 15px;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border: 1px solid #121212;
}

#mensagem {
  color: #131313;
  margin-top: 15px;
  font-weight: bold;
}
